:root {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
body {
  background-color: #000 !important;
  *::-webkit-scrollbar {
    background-color: #ffffff30;
    width: 8px;
    border-radius: 8px;
  }
  *::-webkit-scrollbar-track {
    background-color: #00000060;
    border-radius: 8px;
  }
  *::-webkit-scrollbar-thumb {
    background-color: #555555;
    border-radius: 8px;
  }
  *::-webkit-scrollbar-button {
    display: none;
  }
}
